<form method="post" action="{{ path('admin_lignecommande_delete', {'id': ligne_commande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_commande.id) }}">
    <button class="btn">Delete</button>
</form>
