{% extends 'base.admin.html.twig' %}

{% block title %}Edit LigneCommande{% endblock %}

{% block body %}
    <h1>Edit LigneCommande</h1>

    {{ include('ligne_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_lignecommande_index') }}">back to list</a>

    {{ include('ligne_commande/_delete_form.html.twig') }}
{% endblock %}
