{% extends 'base.admin.html.twig' %}

{% block title %}LigneCommande index{% endblock %}

{% block body %}
    <h1>LigneCommande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.quantite }}</td>
                <td>{{ ligne_commande.prix }}</td>
                <td>
                    <a href="{{ path('admin_lignecommande_show', {'id': ligne_commande.id}) }}">show</a>
                    <a href="{{ path('admin_lignecommande_edit', {'id': ligne_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a href="{{ path('admin_lignecommande_new') }}">Create new</a> 
{% endblock %}
