{% extends 'base.admin.html.twig' %}

{% block title %}LigneCommande{% endblock %}

{% block body %}
    <h1>LigneCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_commande.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ ligne_commande.quantite }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ ligne_commande.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_lignecommande_index') }}">back to list</a>

     <a href="{{ path('admin_lignecommande_edit', {'id': ligne_commande.id}) }}">edit</a> 

    {{ include('ligne_commande/_delete_form.html.twig') }}
{% endblock %}
