{% include 'base.html.twig' %}

<h1>Panier</h1>

{% for produit in produits %}
     <div>
     <img 
     src="{{asset("uploads/product/image/" ~ produit.produit.photo)}}"
     alt="{{produit.produit.nom}}">
     <a href= '{{path('panier_ajouter', { 'idProduit': produit.produit.id , 'quantite': 1})}}'>{{produit.produit.nom}}</a>
     <a href= '{{path('panier_enlever', { 'idProduit': produit.produit.id , 'quantite': 1})}}'>-</a>
     <span>{{produit.quantite}}</span>
     <a href= '{{path('panier_ajouter', { 'idProduit': produit.produit.id , 'quantite': 1})}}'>+</a>
     <div>
     <a href= '{{path('panier_supprimer', {'idProduit': produit.produit.id })}}'>supprimer</a>
     </div>
     </div>
{% endfor %}
<div>
     <a href= '{{path('panier_vider')}}'>vider le panier</a>
     </div>
     <div>
     <a href= '{{path('panier_valider')}}'>passer commande</a>
     </div>
