{% include 'base.html.twig' %}



<form method="post">    
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}    
    {% if app.user %}
        <div class="mb-3">           
         Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
         </div>
    {% else %}  
        <div class="mb-3">           
         Vous n'êtes pas connecté 
         </div>  
    {% endif %}
<div class="col-md-6 offset-3">
{% if app.user %}
    <h1 class="h3 mb-3 font-weight-normal">Sinon : Authentification</h1>
{% else %}
    <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
{% endif %} 
    <label for="inputEmail">Email</label>
    <input type="email"value="{{ last_username }}"name="email"id="inputEmail"class="form-control"            required autofocus>
    </br>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password"name="password"id="inputPassword"class="form-control" required>
    <input type="hidden"name="_csrf_token"value="{{ csrf_token('authenticate') }}">
    </br>
    <button class="btn btn-lg btn-primary"type="submit"> 
        Connexion
    </button>
</div>
</form>
