{% include "base.html.twig" %}



{% block body %}
    <h1>Usager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ usagers.nom }}</td>
                <td>{{ usagers.prenom }}</td>
            </tr>
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('usager_inscription') }}">Create new</a>
{% endblock %}
