{% extends 'base.admin.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('admin_commande_index') }}">back to list</a>
{% endblock %}
