{% extends 'base.admin.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ commande.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_commande_index') }}">back to list</a>

    <a href="{{ path('admin_commande_edit', {'id': commande.id}) }}">edit</a> 

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
