<!doctype html>
<html class="fixed">
    <head>

        <!-- Basic -->
        <meta charset="UTF-8">

        <title>
            {% block title %}Admin
            {% endblock %}
        </title>
       

        
     


      
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{asset("assets/vendor/bootstrap/css/bootstrap.css")}}"/> 
        <link rel="stylesheet" href="{{asset("assets/vendor/font-awesome/css/font-awesome.css")}}"/>
        <link rel="stylesheet" href="{{asset("assets/vendor/magnific-popup/magnific-popup.css")}}"/>
        <link rel="stylesheet" href="{{asset("assets/vendor/bootstrap-datepicker/css/datepicker3.css")}}"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="{{asset("assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css")}}"/>
        <link rel="stylesheet" href="{{asset("assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css")}}"/>
 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
        <link rel="stylesheet" href="{{asset("assets/plugins/tag-editor/jquery.tag-editor.css")}}"/>


        <script src="{{asset("assets/vendor/jquery/jquery.js")}}"></script>
        <script src="{{asset("assets/plugins/tag-editor/jquery.caret.min.js")}}"></script>
        <script src="{{asset("assets/plugins/tag-editor/jquery.tag-editor.min.js")}}"></script>

        <!-- Theme CSS -->
        <link
            rel="stylesheet" href="{{asset("assets/css/admin/theme.css")}}"/>

        <!-- Skin CSS -->
        <link
            rel="stylesheet" href="{{asset("assets/css/admin/skins/default.css")}}"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{asset("assets/css/admin/theme-custom.css")}}">
        <link
            rel="stylesheet" href="{{asset("assets/css/admin/jquery.datetimepicker.css")}}">

        <!-- Head Libs -->
        <script src="{{asset("assets/vendor/modernizr/modernizr.js")}}"></script>

        {% block css %}
            <!-- Vendor CSS -->
        {% endblock %}


    </head>
    <body>

        <section
            class="body">

            <!-- start: header -->
            <header class="header">
                <div class="logo-container" style="float: left;">
                    <div>
                        <img alt="Biovalna"  style="width: 8%;font-size: large;"/>
                    </div>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="Lien-site" style="float: left;margin-left: 6%;font-size: large;margin-top: 15px;" >
                    <div>
                        <a href="{{ path('boutique') }}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Notre site</span>
                        </a>
                    </div>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>


                <!-- start: search & user box -->
                <div
                    class="header-right">

                   

                    <span class="separator"></span>

                    <div id="userbox" class="userbox">
                        <a
                            href="#" data-toggle="dropdown">
                            {# <figure class="profile-picture">
                                                                                                                                                                            <img src="{{asset("assets/images/admin/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="{{asset("assets/images/admin/!logged-user.jpg" />
                                                                                                                                                                        </figure> #}
                            <div class="profile-info" >
                                <span class="name">{{ app.user.username }}
                                    </span>
                                <span class="role">Administrateur</span>
                            </div>

                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li class="divider"></li>
                             <li>
                                    <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-power-off"></i>
                                        Se déconnecter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end: search & user box -->
            </header>
            <!-- end: header -->

            <div
                class="inner-wrapper">
                <!-- start: sidebar -->
                <aside id="sidebar-left" class="sidebar-left">

                    <div class="sidebar-header">
                        <div class="sidebar-title">
                            Navigation
                        </div>
                        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                        </div>
                    </div>

                    <div class="nano">
                        <div class="nano-content">
                            <nav id="menu" class="nav-main" role="navigation">
                                <ul class="nav nav-main">
                                    <li class="nav-dashboard">
                                        <a href="{{ path('home_admin') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li> 
                                     <li class="nav-dashboard">
                                        <a href="{{ path('admin_product_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Produit</span>
                                        </a>
                                    </li>
                                    <li class="nav-dashboard">
                                        <a href="{{ path('admin_categorie_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>categorie</span>
                                        </a>
                                    </li>                                    
                                    <li class="nav-dashboard">
                                        <a href="{{ path('admin_lignecommande_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Ligne Commande</span>
                                        </a>
                                    </li>
                                    <li class="nav-dashboard">
                                        <a href="{{ path('admin_commande_index') }}">
                                            <i class="fa fa-users" aria-hidden="true"></i>
                                            <span>Commande</span>
                                        </a>
                                    </li>  
                                    
                                </ul>

                            </nav>
                            <div style="margin:50px 0 0 25px;">{#{v shivas_app_version }#}</div>
                        </div>
                    </div>

                </aside>
                <!-- end: sidebar -->

                <section role="main" class="content-body">
                    <header class="page-header">
                        <h2>
                            {% block h2Section %}Dashboard
                            {% endblock %}
                        </h2>
                    </header>

                    <!-- start: page -->
                    <div class="row flashmsg">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% block body %}

                        <div
                            class="row">
                            <!-- Derniers commentaires -->
                            <div class="col-lg-12 col-md-12">
                                <section class="panel">
                                    <header class="panel-heading panel-heading-transparent">
                                        <div class="panel-actions">
                                            <a href="#" class="fa fa-caret-down"></a>
                                            <a href="#" class="fa fa-times"></a>
                                        </div>

                                        <h2 class="panel-title"></h2>
                                    </header>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-none"></table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    {% endblock %}
                </section>
            </div>
        </section>


        <script src="{{asset("assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js")}}"></script>
        <script src="{{asset("assets/vendor/bootstrap/js/bootstrap.js")}}"></script>
        <script src="{{asset("assets/vendor/nanoscroller/nanoscroller.js")}}"></script>
        <script src="{{asset("assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js")}}"></script>
        <script src="{{asset("assets/vendor/magnific-popup/magnific-popup.js")}}"></script>
        <script src="{{asset("assets/vendor/jquery-placeholder/jquery.placeholder.js")}}"></script>

        <script src="{{asset("assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js")}}"></script>
        <script src="{{asset("assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js")}}"></script>
        <script src="{{asset("assets/vendor/jquery-appear/jquery.appear.js")}}"></script>
        <script src="{{asset("assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js")}}"></script>
        <script src="{{asset("assets/vendor/jquery-easypiechart/jquery.easypiechart.js")}}"></script>
        <script src="{{asset("assets/vendor/flot/jquery.flot.js")}}"></script>
        <script src="{{asset("assets/vendor/flot-tooltip/jquery.flot.tooltip.js")}}"></script>
        <script src="{{asset("assets/vendor/flot/jquery.flot.pie.js")}}"></script>
        <script src="{{asset("assets/vendor/flot/jquery.flot.categories.js")}}"></script>
        <script src="{{asset("assets/vendor/flot/jquery.flot.resize.js")}}"></script>
        <script src="{{asset("assets/vendor/jquery-sparkline/jquery.sparkline.js")}}"></script>
        <script src="{{asset("assets/vendor/raphael/raphael.js")}}"></script>
        <script src="{{asset("assets/vendor/morris/morris.js")}}"></script>
        <script src="{{asset("assets/vendor/gauge/gauge.js")}}"></script>
        <script src="{{asset("assets/vendor/snap-svg/snap.svg.js")}}"></script>
        <script src="{{asset("assets/vendor/liquid-meter/liquid.meter.js")}}"></script>

        <script src="{{asset("assets/js/admin/theme.js?v=1")}}"></script>
        <script src="{{asset("assets/js/admin/theme.custom.js?v=1")}}"></script>
        <script src="{{asset("assets/js/admin/theme.init.js?v=1")}}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
       
        {% block js %}
            <!-- Specific Blog Vendor -->

            <script src="{{asset("assets/vendor/select2/select2.js")}}"></script>
            <script src="{{asset("assets/vendor/jquery-datatables/media/js/jquery.dataTables.js")}}"></script>
            <script src="{{asset("assets/vendor/jquery-datatables/extras/TableTools/media/js/TableTools.min.js")}}"></script>
           
        {% endblock %}

        <script type="text/javascript">
            $('.summernote').summernote();
            $(document).ready(function () {
                $('.dataTable').DataTable(
{
                            "aLengthMenu": [
                                [
                                    50, 100, 200, -1
                                ],
                                [
                                    50, 100, 200, "Toutes"
                                ]
                            ],
                            /*"aaSorting": [[4, 'asc']],*/
                            "order": [
                                [0, "desc"]
                            ],
                            "iDisplayLength": 100,
                            "oLanguage": {
                                "sLengthMenu": "Afficher par _MENU_ ",
                                "sZeroRecords": "Aucune donnée à afficher",
                                "sInfo": "Affichage de _START_ à _END_ sur _TOTAL_",
                                "sInfoEmpty": "Aucune donnée",
                                "sInfoFiltered": "(filtrage de _MAX_ enregistrements au total)"
                            }
                        });
            });

        </script>
    </body>
</html>
