{% include 'base.html.twig' %}

<h1>{{categorie.nom}}</h1>

{% for produit in produits %}
     <div>
     <img 
     src="{{asset("uploads/product/image/" ~ produit.photo)}}"
     alt="{{produit.nom}}">
     <a href= '{{path('panier_ajouter', { 'idProduit': produit.id , 'quantite': 1})}}'>{{produit.nom}}</a>
     </div>
{% endfor %}