 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={{ path('index') }}>Biovalna</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={{ path('boutique') }}>{{'HomeNAV' | trans}}</a></li>
      <li><a href={{ path('contact') }}>{{'ContactNAV' | trans}}</a>
      <li><a href={{ path('panier_index') }}>Panier</a>
      <li> {% if app.request.locale == 'fr' %}
        <a  href="{{ path('boutique', {_locale: 'en'}) }}">fr</a>
        
    {% else %}
        <a  href="{{ path('boutique', {_locale: 'fr'}) }}">en</a>
    {% endif %}
    </li>
    </ul>

    
    
     <form class="navbar-form navbar-left" role="search" id="nav-search-form" method="post" action="{{ path('search') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name ="search">
            <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
            </div>
        </div>
    </form> 
    {# <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ app.request.locale|locale_name(app.request.locale)|u.title }}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
        <a class="dropdown-item" href="{{ path('boutique', {_locale: 'en'}) }}">English</a>
        <a class="dropdown-item" href="{{ path('boutique', {_locale: 'fr'}) }}">Français</a>
    </div>
    </li> #}
    <ul class="nav navbar-nav navbar-right">
      <li><a href={{ path('usager_inscription') }}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ ADMIN")%}
                        
                        <li>
                            <a href="{{ path('home_admin') }}">
                               Admin
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="account" href="{{ path('usager_accueil') }}" title="{{ app.user.email }}">
                                Mon compte
                                {#{ 'layout.logout'|trans({}, 'FOSUserBundle') }#}
                            </a>
                        </li>

                        <li>
                            {#{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }#}
                            <a class="logout" href="{{ path('app_logout') }}">
                               Logout
                            </a>
                        </li>
                    {% else %}
                         <li><a href={{ path('app_login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
     
    </ul>
  </div>
</nav> 