{% extends 'base.admin.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('admin_categorie_index') }}">back to list</a>
{% endblock %}
